
.celda1{
  background-color: rgb(159, 209, 255);
  text-align: center;
  height: 20em;
text-decoration-line: rgb(0, 0, 0);
}

.celda2{
  background-color:  rgb(159, 209, 255);
  text-align: center;
  height: 20em;
}

.celda3{
  background-color: rgb(159, 209, 255);
  text-align:center;
}
.celda4{
  background-color: rgb(159, 209, 255);
  text-align:center;
  
}
link{
  text-decoration: none;
}
.box {
  border: 1px solid black;
}
.container{
justify-content: space-around
}
.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


