
.celda1{
  background-color: blueviolet;
  text-align: center;
  height: 20em;

}

.celda2{
  background-color: rgb(43, 226, 226);
  text-align: center;
  height: 20em;
}

.celda3{
  background-color: rgb(226, 43, 98);
}