
.celda1{
  background-color: blueviolet;
  text-align: center;
  height: 20em;
text-decoration-line: rgb(0, 0, 0);
}

.celda2{
  background-color: rgb(43, 226, 226);
  text-align: center;
  height: 20em;
}

.celda3{
  background-color: rgb(226, 43, 98);
}
.celda4{
  background-color: rgb(159, 209, 255);
  text-align: center;
  
}



